body {
    background-color: #ffd19b;
    
}

#titnav {
    font-size: 25px;
    font-weight: 700;
    color: #ffffff;
}

.navbar {
    background-color: #f69100;
}

.navbar-icon {
    width: 70px;
    height: auto;
    margin-right: 10px;
}


.navbar-nav .nav-link {
    font-size: 22px;
}

.navbar-nav .nav-link:hover {

    color: #333;
}


.jumbotron {
    background-image: url('../imgs/plato\ del\ dia.jpg');
    background-size: cover;
    color: #ffffff;
    padding: 100px 0;
    height: 650px;
    margin: 50px;
    background-color: rgb(255, 255, 255);
}

.historia {
    margin-left: 105px;
    margin-right: 105px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2); 
    padding: 20px; 
}

.historia h2{
    text-align: center;
}

.historia p{
    font-size: 132%;
}

.historia h3{
    text-align: center;
}

.footer {
    background-color: #f69100;
    color: #ffffff;
    padding: 20px 0;
}

.plato {
    color: black;
}

.segunda-seccion {
    background-color: blanchedalmond;
}