body {
    background-color: #ffffff;
}

#titnav {
    font-size: 25px;
}

.navbar {
    background-color: #f69100;
}

.navbar-icon {
    width: 70px;
    height: auto;
    margin-right: 10px;
}


.navbar-nav .nav-link {
    font-size: 22px;
}

.navbar-nav .nav-link:hover {
    color: #333;
}


.jumbotron {
    background-image: url('../imgs/plato\ del\ dia.jpg');
    background-size: cover;
    color: #ffffff;
    padding: 100px 0;
    height: 650px;
    margin: 50px;
    background-color: rgb(0, 0, 0, 0.3);
}

.footer {
    background-color: #f69100;
    color: #ffffff;
    padding: 20px 0;
}

.plato {
    color: black;
}